body {
    background-color: #F9F6FC;
}

h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.grid-container {
    width: 750px;
    height: 750px;
    flex: 0 0 auto;
    display: flex;
}

